<!doctype html>
<html>
    <title>Demo Description</title>
    <head></head>
    <body>
        <h2>Web Service Middleware Demo</h2>
        <p>
            This web service accepts a post containing a json object containing either "query" or "input", 
            cleans the contents logging what was sent and what was left after cleaning.
            
            Please go to <a href="/logged">/logged</a> to view requests made and cleaned. 
        </p>
    </body>
</html>